node_modules
client/node_modules
new-nextjs-app/node_modules
new-nextjs-app/.next
server/node_modules
.git
.env
.env.local
.DS_Store
dist
logs
*.log
.vscode
.idea
README.md
*.md
test-results
playwright-report